alabaster==0.7.12
bandit==1.5.1
coverage==4.5.1
coveralls==1.5.1
docutils==0.14
Flask==1.0.2
Flask-SSLify==0.1.5
Flask-Testing==0.7.1
Flask-SeaSurf==0.2.2
flask-talisman==0.5.1
gunicorn==19.9.0
pycodestyle==2.4.0
pydocstyle==2.1.1
requests==2.19.1
Sphinx==1.8.1
Werkzeug==0.14.1
